body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    display: grid;
    gap: 20px;
    width: 75%;
    margin: 150px auto;
  }
  .item {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
.a {
    
    background-color: hsl(263, 55%, 52%);
}
.b {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 81%);
}
.c {
    background-color: hsl(0, 0%, 100%);
}
.d {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}
.e {

    background-color: hsl(0, 0%, 100%);
}
 
.a > .opaque,
.b > .opaque,
.d > .opaque {
    color: hsl(210, 46%, 95%);
    font-weight: 600;
}

.a h1,
.b h1,
.d h1 {
    color: hsl(210, 46%, 95%, 50%);
}
.a h2,
.b h2,
.d h2 {
    color: hsl(0, 0%, 81%);
}
.a p,
.b p,
.d p {
    color: hsl(0, 0%, 81%, 70%);
}

.c > .opaque,
.e > .opaque {
    color: hsl(219, 29%, 14%);
    font-weight: 600;
}

.c h1,
.e h1 {
    color: hsl(219, 29%, 14%);
}

.c h2,
.e h2 {
    color: hsl(219, 29%, 14%, 50%);
}

.c p,
.e p {
    color: hsl(219, 29%, 14%, 70%);
}

img {
    border-radius: 50%;
}
.flex-container {
    display: flex;
    align-items: center;
  }
  .text {
    padding-left: 20px;
  }
  h1, h2 {
    margin: 0;
    font-size: 12px;
  }
  p {
    font-size: 16px;
  }

  @media screen and (min-width: 1440px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    .a, .d {
        grid-column: span 2;
    }
.e {
    grid-column-start: 4;
    grid-row: 1 / span 2;
}
  }